/* Pseudo selector :root */
:root {
    --White:#d6f2ff;
    --LightBlue:#8ECAE6;
    --BlueGreen:#219EBC;
    --PrussianBlue:#023047;
    --HoneyYellow:#FFB703;
    --Orange: #FB8500;
    --AcidGreen: #A5BE00;
    --LincolnGreen: #14591D;
}

* {
	margin:0;
	padding:0;
}
/* Para nuestro proyecto usaremos REM:
REM -> es realtivo al documento
Al ver que los rem y los px guardaban una relación se creo un 'hack'
reiniciamos el tamaño del html que rodea todo el documento*/
html {
    font-size: 62.5%;}

body{
	font-size: 16px;
	background-color: var(--White);
	/*Unidades de medida
	px -> habitualmente usado pero ya esta descontinuado
	em ->porcentaje del elemento al que pertenece(tamaño del padre)
	rem -> es relativo al documento (toma com referencia al tamaño del documento)
	1 rem = 10 px -> esto permite que los sitios web se adapten mas a una gran cantidad de navegadores*/
	}

footer {
    width: 100%;
    background-color: var(--BlueGreen);
    background-size: cover;
	font-family: 'Roboto Slab', serif;
}

.contenedor-footer {
    display:flex;
    /* se ponen uno de bajo del otro cuando no quepan en una sola linea*/
    flex-wrap: wrap;
    /* Para que ocupen el ancho completo*/
    justify-content: space-between;
    max-width: 120rem;
    margin: auto;
    margin-top: 40rem;
}

.box_footer{
    display:flex;
    flex-direction: column;
    padding: 4rem;
}

.box_footer .logo img{
    width: 15rem;
    margin-top: 3rem;
}

.box_footer h2{
    margin-bottom: 3rem;
    color: var(--White);
    font-weight: 700;
}
.box_footer span{
    color: var(--White);
}

.box_footer a{
    margin: 0.5rem;
    color:var(--White);
    font-size: 1.5rem;
    font-weight: 600;
}

.box_footer a:hover{
    opacity: 0.8%;
}

.box_footer a .fab{
    margin-right:1rem;
    font-size: 1.5rem;
}

/*Navegador*/
header {
	width:100%;
    font-family: 'Roboto Slab', serif;
    background: var(--BlueGreen);
}

a .fas{
    margin-right:1rem;
    font-size: 1.5rem;
}
header nav {
	width:90%;
	max-width:100rem;
	margin: auto;
	padding: 1rem 2rem;
}

header .menu_bar {
    float:left;
	display:block;
	padding: 2rem 4rem;
}

header div a .fas{
    display: none;
}

header div a{
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
	text-decoration: none;
    color: var(--White);
	/* padding: 1rem 2rem; */
}

header div a span{
    font-size: 3rem;
    font-family: 'Reenie Beanie', cursive ;
    color: var(--White);
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:right;
}

header nav ul li a {
	color:var(--White);
	padding:2rem;
	display:block;
	text-decoration:none;
}

header nav ul li a:hover {
	background:var(--LightBlue);
  color: var(--AcidGreen);

}


/* Celulares y tablets */
@media screen and (max-width:800px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

    header div a .fas{
        display: block;
    }
	.menu_bar {
		display:inline-block;
		width:100%;
		background:var(--BlueGreen);
	}

	.menu_bar .bt-menu {
		display:inline-block;
		padding:2rem;
		background: var(--BlueGreen);
		color:var(--White);
		text-decoration:none;
		font-weight: bold;
		font-size:2rem;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	a span {
		font-family: 'Reenie Beanie', cursive;
		font-size:1.5rem;
	}
}

/* Slider */
.slider {
	position: relative;
	width: 100%;
	background-color: white;
}
.myslider {
	height: 100%;
  height: 550px;
	display: none;
	overflow: hidden;
}
.prev, .next {
	position: absolute;
	top: 50%;
	transform: translate(0, 50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover {
	color: var(--AcidGreen);
}
.next {
	right: 0;
}
.dotsbox {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
.active, .dot:hover {
	border-color: var(--AcidGreen);
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: 0.8}
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: 0.8}
	to {opacity: 1}
}
.myslider img {
	object-fit: cover;
	transform: scale(1.2, 1.2);
	-webkit-animation-name: zoomin;
	-webkit-animation-duration: 10s;
	animation-name: zoomin;
	animation-duration: 10s;
}
@-webkit-keyframes zoomin {
	from {transform: scale(1, 1);}
	to {transform: scale(1.2, 1.2);}
}
@keyframes zoomin {
	from {transform: scale(1, 1);}
	to {transform: scale(1.2, 1.2);}
}

/*Celulares 2*/
@media screen and (max-width: 520px) {
	.txt h1 {
		font-size: 30px;
	}
}

.contenedor-cabecera {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 2rem;
  margin: 1rem;
  background-color:var(--LightBlue);
  filter:alpha(opacity=70);
  -moz-opacity:.70;opacity:.70;
}

.contenedor-cabecera .content-select select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}

.content-select{
	max-width: 250px;
	position: relative;
}

.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  padding: 7px 10px;
  height: 4rem;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: var(--White);
  font-size: 1.5rem;
  color: var(--PrussianBlue);
  font-family:'Roboto Slab', serif;
  border:2px solid rgba(0,0,0,0.2);
  border-radius: 1.2rem;
  position: relative;
  transition: all 0.25s ease;
}

.content-select select:hover{
	background: var(--White);
}
/*
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
	position: absolute;
	right: 3rem;
	top: calc(50% - 13px);
	width: 1.4rem;
	height: 1.4rem;
	display: block;
	border-left:4px solid var(--AcidGreen);
	border-bottom:4px solid var(--AcidGreen);
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}

.content-select:hover i{
	margin-top: 3px;
}

.contenedor-cabecera > div{
	width: 45%;
  padding: 1rem;
	margin: 1.5rem;
}

	/* Contenedor de poster-peliculas */
.containerPoster, #div1, #año {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 0.5rem;
	height: 100%;
  align-items: center;
  justify-content: center;
}

.containerPoster > img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 30rem;
	height: 40rem;
	object-fit: cover;
	padding: 3rem;



}

.containerPoster > p {
	display: flex;
	flex-wrap: wrap;
	box-sizing: content-box;
	border: solid 2px;
	justify-content: center;
	position: relative;
	width: 10%;
	text-align: center;
	bottom: -20%;
	background-color: whitesmoke;
	margin-right: 3rem;
}

#resultado-cbo-personajes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/* flex-direction: row; */
	margin: 1rem;
	align-items: center;
	height: 100%;



}


#resultado-cbo-personajes > img{
	width: 25rem;
	height: 25rem;
	padding: 2rem;
	object-fit: cover;
	border-radius: 5rem;



}
#resultado-cbo-personajes > p{
	display: flex;
	justify-content: space-evenly;
	width: 5%;
	padding: 2rem;

}


.contentTittlePeople{
	background-image: url(../src/img/fondoTitle.jpg);
	background-image: no-repeat;
	height: 8rem;

}


#resultado-cbo-titulo{
	font-family: 'Roboto Slab', serif;
	font-size: 4rem;
	padding: 1rem;
	text-align: center;
	color:#FFFF;
}

.contentSearch{
    vertical-align: middle;
 	white-space: nowrap;
  	position: relative;
	width: 10rem;
	height: 4rem;
}

.contentSearch input#search{
	width: 30rem;
	height: 4rem;
	background: var(--White);
	border: none;
	font-size: 1.5rem;
	font-family:'Roboto Slab', serif;
	float: left;
	color:var(--LincolnGreen);
	padding-left: 4.5rem;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 1.2rem;
	color: var(--White);
}

.contentSearch .icon{
	position: absolute;
	top: 10%;
	margin-left: 1.7rem;
	margin-top: 1.7rem;
	z-index: 1;
	color: var(--HoneyYellow);

	-webkit-transition: all .55s ease;
	-moz-transition: all .55s ease;
	-ms-transition: all .55s ease;
	-o-transition: all .55s ease;
	transition: all .55s ease;
}

.contentSearch input#search:focus, .contentSearch input#search:active{
	outline:none;
}

.contentSearch:hover .icon{
	margin-top: 1.5rem;
	color: var(--LincolnGreen);

	-webkit-transform:scale(1.5); /* Safari and Chrome */
	-moz-transform:scale(1.5); /* Firefox */
	-ms-transform:scale(1.5); /* IE 9 */
	-o-transform:scale(1.5); /* Opera */
	transform:scale(1.5);
}

.btnRefresh{
	margin-top: 1.8rem;
	border: none;
	border-radius: 10rem;
	background: var(--HoneyYellow);
	width: 5rem;
	height: 5rem;
	color:#FFFF;
}

.title {
  background-color: var(--LightBlue);
  color: var(--White);
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Reenie Beanie', cursive;
  border-radius: 2rem;
  margin: 1rem;
}

article {
  display: flex;
  width: 80%;
  margin: 2rem 10rem 0 10rem;
  align-items: center;
}

article > div {
  width: 100%;
}
#espacio {
  width: 20rem;
}
article > div > img {
  width: 100%;
}

.contentChart{
	display: flex;
	justify-content: center;
	width: 40rem;
	height: 40rem;
}

/* Memory Puzzle */
/* .grid{

	display: flex;
	flex-wrap: wrap;
	height: 30rem;
	width: 40rem;
}

.grid > img{
	width: 10rem;
	height: 10rem;
	object-fit: cover;
	border-radius: 0.5rem;
}

.contentScore h3{
	font-family: 'Roboto Slab',sans-serif;
	font-size: 2.5rem;
	color: var(--PrussianBlue);
	padding: 1rem;

} */

/* #pagina-peliculas{
	display: none;
}
#pagina-personajes{
	display: none;
}
#pagina-about{
	display: none;
}
#pagina-stadistics{
	display: none;
}
main{
	width: 100;
	height: 0%
} */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--HoneyYellow); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: var(--Orange); /* Add a dark-grey background on hover */
}
