/* Pseudo selector :root */
:root {
    --White:#FFFFFF;
    --LightBlue:#8ECAE6;
    --BlueGreen:#219EBC;
    --PrussianBlue:#023047;
    --HoneyYellow:#FFB703;
    --Orange: #FB8500;
    --AcidGreen: #A5BE00;
    --LincolnGreen: #14591D;
}

* {
	margin:0;
	padding:0;
}
/* Para nuestro proyecto usaremos REM: 
REM -> es realtivo al documento
Al ver que los rem y los px guardaban una relación se creo un 'hack'
reiniciamos el tamaño del html que rodea todo el documento*/
html {
    font-size: 62.5%;}


body{
	font-size: 16px; 
	background-color: var(--White);
		
	/*Unidades de medida 
	px -> habitualmente usado pero ya esta descontinuado
	em ->porcentaje del elemento al que pertenece(tamaño del padre)
	rem -> es relativo al documento (toma com referencia al tamaño del documento)
	1 rem = 10 px -> esto permite que los sitios web se adapten mas a una gran cantidad de navegadores*/
	}
	

#home {
    height: 80%;
    width: 100%;
    text-align: center;
}
picture {
    width: 100%;
    height: 60%;
    display: inline-block;
}

footer {
    background-color: var(--BlueGreen);
    padding: 2rem 2rem 1rem 2rem;
}
address {
    display: inline-block;
    width: 65%;
    font-family:'Roboto Slab', serif;;
    font-size: 1.2rem;
}
.section-footer {
    display: inline-block;
    text-align: right;
    width: 25%;
}
button input {
    width: 15px;
    height: 15px;
    border: none;
}



/*Navegador*/
header {
	width:100%;
    font-family: 'Roboto Slab', serif;
    background: var(--BlueGreen);
	   
}

a .fas{
    margin-right:1rem;
    font-size: 1.5rem;
}
header nav {
	width:90%;
	max-width:100rem;
	margin: auto;
	padding: 2rem 2rem;
}

header .menu_bar {
    float:left;
	display:block;
	padding: 2rem 4rem;
    
}

header div a .fas{
    display: none;
}

header div a{
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
	text-decoration: none;
    color: var(--White);
	/* padding: 1rem 2rem; */

}


header div a span{
    font-size: 2.5rem;
    font-family: 'Reenie Beanie', cursive ;
    color: var(--White);
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:right;
}

header nav ul li a {
	color:var(--White);
	padding:20px;
	display:block;
	text-decoration:none;
}

/* header nav ul li span {
	margin-right:10px;
} */

header nav ul li a:hover {
	background:var(--LightBlue);
}


/* Celulares y tablets */
@media screen and (max-width:800px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

    header div a .fas{
        display: block;
    }
	.menu_bar {
		display:inline-block;
		width:100%;
		background:var(--BlueGreen);
	}

	.menu_bar .bt-menu {
		display:inline-block;
		padding:2rem;
		background: var(--BlueGreen);
		color:var(--White);
		text-decoration:none;
		font-weight: bold;
		font-size:2rem;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	a span {
		font-family: 'Reenie Beanie', cursive;
		font-size:1.5rem;
	}

    
}
/*CUERPO DE PAGINA*/
#pagina-personajes {
	display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

#pagina-personajes > div {
	width: 50%;
    padding: 10px;
}
