/* Pseudo selector :root */
:root {
    --White:#FFFFFF;
    --LightBlue:#8ECAE6;
    --BlueGreen:#219EBC;
    --PrussianBlue:#023047;
    --HoneyYellow:#FFB703;
    --Orange: #FB8500;
    --AcidGreen: #A5BE00;
    --LincolnGreen: #14591D;
}

* {
	margin:0;
	padding:0;
}
/* Para nuestro proyecto usaremos REM: 
REM -> es realtivo al documento
Al ver que los rem y los px guardaban una relación se creo un 'hack'
reiniciamos el tamaño del html que rodea todo el documento*/
html {
    font-size: 62.5%;}


body{
	font-size: 16px; 
	background-color: var(--White);
		
	/*Unidades de medida 
	px -> habitualmente usado pero ya esta descontinuado
	em ->porcentaje del elemento al que pertenece(tamaño del padre)
	rem -> es relativo al documento (toma com referencia al tamaño del documento)
	1 rem = 10 px -> esto permite que los sitios web se adapten mas a una gran cantidad de navegadores*/
	}
	
footer {
    width: 100%;
    background-color: var(--BlueGreen);
    background-size: cover;
	font-family: 'Roboto Slab', serif;
}

.contenedor-footer {
    display:flex;
    /* se ponen uno de bajo del otro cuando no quepan en una sola linea*/
    flex-wrap: wrap;
    /* Para que ocupen el ancho completo*/
    justify-content: space-between;
    max-width: 120rem;
    margin: auto;
    margin-top: 40rem;
}

.box_footer{
    display:flex;
    flex-direction: column;
    padding: 4rem;
}

.box_footer .logo img{
    width: 15rem;
    margin-top: 3rem;
}

.box_footer h2{
    margin-bottom: 3rem;
    color: var(--White);
    font-weight: 700;
}
.box_footer span{
    
    color: var(--White);
    
}

.box_footer a{
    margin: 0.5rem;
    color:var(--White);
    font-size: 1.5rem;
    font-weight: 600;

}

.box_footer a:hover{
    opacity: 0.8%;
}

.box_footer a .fab{
    margin-right:1rem;
    font-size: 1.5rem;
}


/*Navegador*/
header {
	width:100%;
    font-family: 'Roboto Slab', serif;
    background: var(--BlueGreen);
}

a .fas{
    margin-right:1rem;
    font-size: 1.5rem;
}
header nav {
	width:90%;
	max-width:100rem;
	margin: auto;
	padding: 2rem 2rem;
}

header .menu_bar {
    float:left;
	display:block;
	padding: 2rem 4rem;
}

header div a .fas{
    display: none;
}

header div a{
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
	text-decoration: none;
    color: var(--White);
	/* padding: 1rem 2rem; */
}


header div a span{
    font-size: 2.5rem;
    font-family: 'Reenie Beanie', cursive ;
    color: var(--White);
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:right;
}

header nav ul li a {
	color:var(--White);
	padding:20px;
	display:block;
	text-decoration:none;
}

/* header nav ul li span {
	margin-right:10px;
} */

header nav ul li a:hover {
	background:var(--LightBlue);
}


/* Celulares y tablets */
@media screen and (max-width:800px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

    header div a .fas{
        display: block;
    }
	.menu_bar {
		display:inline-block;
		width:100%;
		background:var(--BlueGreen);
	}

	.menu_bar .bt-menu {
		display:inline-block;
		padding:2rem;
		background: var(--BlueGreen);
		color:var(--White);
		text-decoration:none;
		font-weight: bold;
		font-size:2rem;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	a span {
		font-family: 'Reenie Beanie', cursive;
		font-size:1.5rem;
	}

    
}




/* Slider */
.slider {
	position: relative;
	width: 100%;
	background-color: white;
}
.myslider {
	height: 655px;
	display: none;
	overflow: hidden;
}
.prev, .next {
	position: absolute;
	top: 50%;
	transform: translate(0, 50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover {
	color: #3498db;
}
.next {
	right: 0;
}
.dotsbox {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
.active, .dot:hover {
	border-color: #3498db;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: 0.8}
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: 0.8}
	to {opacity: 1}
}
.txt {
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
	-webkit-animation-duration: 2s;
	animation-name: posi;
	animation-duration: 2s;
	z-index: 1;
}
@-webkit-keyframes posi {
	from {left: 25%}
	to {left: 15%}
}
@keyframes posi {
	from {left: 25%}
	to {left: 15%}
}
.txt h1 {
	color: #3498db;
	font-weight: bold;
	margin: 20px;
}
img {
	transform: scale(1.2, 1.2);
	-webkit-animation-name: zoomin;
	-webkit-animation-duration: 10s;
	animation-name: zoomin;
	animation-duration: 10s;
}
@-webkit-keyframes zoomin {
	from {transform: scale(1, 1);}
	to {transform: scale(1.2, 1.2);}
}
@keyframes zoomin {
	from {transform: scale(1, 1);}
	to {transform: scale(1.2, 1.2);}
}

myslider {
	height: 500px;
}
.txt {
	line-height: 25px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation-name: posi2;
	animation-duration: 2s;
	-webkit-animation-name: posi2;
	-webkit-animation-duration: 2s;
}
@-webkit-keyframes posi2 {
	from {top: 35%;}
	to {top: 50%}
}
@keyframes posi2 {
	from {top: 35%;}
	to {top: 50%}
}
.txt h1 {
	font-size: 40px;
}

/*Celulares 2*/
@media screen and (max-width: 520px) {
	.txt h1 {
		font-size: 30px;
	}
}


/*CUERPO DE PAGINA*/
#pagina-personajes {
	display: -ms-flex;
    display: -webkit-flex;
    display: flex;
	background-color:var(--LightBlue);
}

#pagina-personajes > div {
	width: 50%;
    padding: 10px;
}

.container-flex {
	display: flex;
	flex-wrap: wrap;
  }

  .container-flex div {
	flex: 1 0 21%; /* explanation below */
	margin: 5px;
	height: 100px;
  }
  
  
